{{
  config(
    materialized = 'table',
    )
}}
with stockItems as (
    SELECT 
        si.StockItemID
        ,si.StockItemName
        ,si.Brand
        ,si.[Size]
        ,si.IsChillerStock
        ,si.Barcode
        ,si.ColorID
        ,si.UnitPackageID
        ,si.OuterPackageID
        ,si.TaxRate
        ,si.UnitPrice 
    from {{ source('Warehouse', 'StockItems') }} as si
)
select *
from stockItems