{{
  config(
    materialized = 'table',
    )
}}
with dimStockGroup as (
    select 
        sg.StockGroupID
        ,sg.StockGroupName
    from {{ ref('stockGroup_mrr') }} as sg
)
select * 
from dimStockGroup